.head {
    background: rgb(14,6,153);
    background: linear-gradient(152deg, rgba(14,6,153,1) 0%, rgba(9,45,121,1) 35%, rgba(6,123,92,1) 100%);
}


/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 50%;
    /* The width is the width of the web page */
  }